<div class="login">
    <div class="login-slogan">
        <fox-slogan *ngFor="let sloganText of sloganTexts; let i = index" [text]="sloganText" [delay]="(i + 1) * .25"></fox-slogan>
    </div>
    <div class="login-start">
        <div class="login-start-info">
            <fox-logo class="login-start-info-logo"></fox-logo>
            <span class="login-start-info-text">Accede a cientos de productos para tu descanso</span>
        </div>
        <div class="login-start-form">
            <fox-login-form></fox-login-form>
        </div>
    </div>
</div>